<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<header>
  <% incldue ../partials/header %>
</header>
<div class="posts">
  <% include partials/top %>
  <!-- main start-->

  <!-- main end -->
</div>
<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>
